In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup


job_title=[]
company=[]
stipend=[]
duration=[]
location=[]

In [2]:
for j in range(1,151):
    url='https://internshala.com/internships/page-'+str('j')+str('/')
    page= requests.get(url)
    soup= BeautifulSoup(page.text,"lxml")
    
    box= soup.find_all("div", class_="internship_meta")

    for i in box:
        j=i.find('h3').text.strip()
        job_title.append(j)
    
        c=i.find("div",class_="company_and_premium")
        comp=c.find('a').text
        co=comp.strip()
        company.append(co)
    
        internship_details= i.find("div",class_= "individual_internship_details")
    
        loc= internship_details.find("div",id_="location_names")
        p= internship_details.find("span").text
        l= p.strip()
        location.append(l)
    
    
        stip= internship_details.find("div",class_="other_detail_item stipend_container")
        st= stip.find('div',class_="item_body").text
        s= st.strip()
        stipend.append(s)
    
        dur= internship_details.find_all("div",class_="other_detail_item")[1]
        time=dur.find("div",class_="item_body").text
        d=time.strip()
        duration.append(d)

In [3]:
df= pd.DataFrame({'Job Title': job_title,'Company':company,'Location':location, 'Stipend':stipend, 'Duration': duration})
df

,Job Title,Company,Location,Stipend,Duration
0,Civil Engineering,Vision Earthcare Private Limited,Mumbai,"₹ 8,000-12,000 /month",6 Months
1,Fundraising,Odisha Development Management Programme (ODMP),Work From Home,"₹ 225-5,000 /week",1 Week
2,Fundraising,InAmigos Foundation,Work From Home,Unpaid,3 Weeks
3,Flutterflow Developer,Futuratech Platform Pvt Ltd,Mumbai,"₹ 10,000 /month",6 Months
4,Market Research,Steamie Adventures Private Limited,"Ajmer, Jaipur","₹ 5,000 /month",1 Month
...,...,...,...,...,...
7495,Network Engineering,ESSI Integrated Technologies,Delhi,"₹ 20,000 /month",6 Months
7496,Inside Sales,Ramyoz,Noida,"₹ 10,000-12,000 /month",6 Months
7497,Digital Media Designing,Houzer,Mumbai ...,"₹ 15,000 /month",3 Months
7498,Business Development (Sales),Evogue Media LLP,Mumbai,"₹ 5,000 /month",3 Months
7499,Architecture,GDA Architects,Delhi,"₹ 12,000 /month",6 Months

In [4]:
df.to_csv('C:/Users/sanju/Desktop/excel files/Internshala_web_scraping.csv',index= False)

In [5]:
df.tail(5)

,Job Title,Company,Location,Stipend,Duration
7495,Network Engineering,ESSI Integrated Technologies,Delhi,"₹ 20,000 /month",6 Months
7496,Inside Sales,Ramyoz,Noida,"₹ 10,000-12,000 /month",6 Months
7497,Digital Media Designing,Houzer,Mumbai ...,"₹ 15,000 /month",3 Months
7498,Business Development (Sales),Evogue Media LLP,Mumbai,"₹ 5,000 /month",3 Months
7499,Architecture,GDA Architects,Delhi,"₹ 12,000 /month",6 Months